.love {
  background-image: url("/images/love.svg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: #000;
  width: 100%;
}

.love1 {
  background-image: url("/images/love1.svg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: #000;
  width: 100%;
}
