.love {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: #000;
  max-width: 100%;
}

.love1 {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: #000;
  max-width: 100%;
}
