body {
  background-color: #000;
}

.love {
  display: flex;
  justify-content: center;
  margin-bottom: 10%;
}

.love img {
  background-attachment: fixed;
  background-repeat: no-repeat;
  overflow: auto;
  max-width: 100%;
}

@media only screen and (max-width: 433px) {
  .love img {
    background-attachment: fixed;
    background-repeat: no-repeat;
  }
}

.love1 {
  display: flex;
  justify-content: center;
}

.love1 img {
  background-attachment: fixed;
  background-repeat: no-repeat;

  overflow: auto;
  max-width: 100%;
}

@media only screen and (max-width: 433px) {
  .love1 img {
    background-attachment: fixed;
    background-repeat: no-repeat;
  }
}
